workflows:
  version: 2
  build-deploy:
    jobs:
      - unit-test
      - package-docker:
          requires:
            - unit-test
          filters:
            branches:
              only: master
      - deploy-GCP:
          requires:
            - package-docker
          filters:
            branches:
              only: master




version: 2
jobs:
  unit-test:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - circleci-k8s-demo-mvn-V2-{{ checksum "pom.xml" }}
            - circleci-k8s-demo-mvn-V2

      - run: mvn dependency:go-offline
      - run:
          name: Build and *unit* test
          command: |
            mvn test -B  #run your tests


      - save_cache:
          paths:
            - ~/.m2
          key: circleci-k8s-demo-mvn-V2-{{ checksum "pom.xml" }}

      - store_test_results:
          path: target/surefire-reports




  package-docker:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - circleci-k8s-demo-mvn-V2-{{ checksum "pom.xml" }}
            - circleci-k8s-demo-mvn-V2
      - run: mvn dependency:go-offline
      - run: cp .mvn/wrapper/settings.xml ~/.m2/settings.xml
      - run: echo "<settingsSecurity><master>${maven_security_master}</master></settingsSecurity>" > ~/.m2/settings-security.xml
      - setup_remote_docker
      - run:
          name: Publish Docker image with Jib
          command: |
            ./mvnw compile jib:build -B -DskipTests=true \
              -Dbuild.number=${CIRCLE_BUILD_NUM} \
              -Dcommit.hash=${CIRCLE_SHA1} \
              -Dcircle.workflow=${CIRCLE_WORKFLOW_ID} \
              -Dbuild.user=${CIRCLE_PROJECT_USERNAME} \
              -Dbuild.repo=${CIRCLE_PROJECT_REPONAME} 
      - run:
          name: Preserve Docker IMage tag 
          command: |
            MVN_VERSION=$(./mvnw -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive org.codehaus.mojo:exec-maven-plugin:1.3.1:exec)
            echo "export DOCKER_IMAGE=eddiewebb/circleci-k8s-demo:${MVN_VERSION}-b${CIRCLE_BUILD_NUM}" > /tmp/docker_image
      - persist_to_workspace:
          root: /tmp
          paths:
            - docker_image


  deploy-GCP:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - attach_workspace: 
          at: /tmp
      - run: 
          name: Install gcloud SDK
          command: |
            # Create environment variable for correct distribution
            export CLOUD_SDK_REPO="cloud-sdk-$(lsb_release -c -s)"
            # Add the Cloud SDK distribution URI as a package source
            echo "deb http://packages.cloud.google.com/apt $CLOUD_SDK_REPO main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
            # Import the Google Cloud Platform public key
            curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
            # Update the package list and install the Cloud SDK
            sudo apt-get update -y && sudo apt-get install -y google-cloud-sdk kubectl
      - run: 
          name: Initialize & Authenticate gcloud SDK
          command: |
            echo "${GCP_KEY_FILE}" | base64 --decode >> /tmp/gcp_key.json
            gcloud auth activate-service-account --key-file /tmp/gcp_key.json
            gcloud config set project research-180616
            gcloud config set compute/zone us-central1-a
            gcloud container clusters get-credentials circleci-k8s-demo
            source /tmp/docker_image
            echo "Deploying IMage: ${DOCKER_IMAGE}"
            # First run will create a cluster, if it exists already we'll update the latest image
            kubectl run circleci-k8s-demo --image=hub.docker.com/r/${DOCKER_IMAGE} --port 8080 || (echo "Falling back to image update" && kubectl set image deployment/circleci-k8s-demo circleci-k8s-demo=${DOCKER_IMAGE})
            kubectl rollout status deployment/circleci-k8s-demo
            kubectl expose deployment circleci-k8s-demo --type=LoadBalancer --port 80 --target-port 8080 || echo "Service already exposed"
            kubectl get service
      - run:
          name: Smoke Test k8s Deploy
          command: |
            CLUSTER_IP=$(kubectl get service | grep circleci-k8s-demo | tr -s " " | cut -d" " -f 4)
            echo "Testing against IP: ${CLUSTER_IP}"
            sleep 10
            HTTPCODE=`curl -s -m 5 -o /dev/null -w "%{http_code}" http://${CLUSTER_IP}/`
            if [ "$HTTPCODE" -ne 200 ];then
              echo "Application not available, failing deploy"
              exit 1
            fi

      - run:
          name: Update CloudFlare DNS
          command: |
            CLUSTER_IP=$(kubectl get service | grep circleci-k8s-demo | tr -s " " | cut -d" " -f 4)
            curl -X POST "https://api.cloudflare.com/client/v4/zones/${CLOUDFLARE_DNS_ZONE}/dns_records" \
               -H "X-Auth-Email: ${CLOUDFLARE_EMAIL}" \
               -H "X-Auth-Key: ${CLOUDFLARE_API_KEY}" \
               -H "Content-Type: application/json" \
               --data '{"type":"A","name":"justademo.online","content":"'${CLUSTER_IP}'","ttl":120,"priority":10,"proxied":false}'


  deploy-AWS:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - attach_workspace: 
          at: /tmp
      - run: 
          name: Install AWS CLI
          command: |
            sudo curl -o /usr/local/bin/ecs-cli https://s3.amazonaws.com/amazon-ecs-cli/ecs-cli-linux-amd64-latest
      - run: 
          name: Configure AWS CLI for ECS
          command: |
            ecs-cli configure profile --access-key $AWS_ACCESS_KEY_ID --secret-key $AWS_SECRET_ACCESS_KEY
            ecs-cli configure --cluster circleci-demo --default-launch-type launch_type --region us-east-2 --config-name circleci-demo-config



