<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get Started with CircleCI and Kubernetes!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="max-width: 600px; text-align:center;"> 
		<h3>Project Info</h3>
		<p>This website is a simple Java <a href="https://start.spring.io/">Spring Boot</a> application packaged by <a href="https://github.com/GoogleContainerTools/jib">Google's Jib</a>.  We deployed the containers to GCP and AWS Kubernetes clusters using <a href="https://circleci.com/product/">CircleCI</a>.  Global load balancing is provided by <a href="https://www.cloudflare.com/load-balancing/">CloudFlare</a>.  It is a demonstration project for CircleCI's blog series on multi-cloud container deployments.</p>

		<p>You can see the full sample code and configuration for deploying Java applications to multiple cloud providrs using Docker and Kubernetes in our <a href="https://github.com/eddiewebb/circleci-multi-cloud-k8s">Github repository</a>. If you have any feedback or questions, please contact <a href="https://eddiewebb.tech">@edwardawebb</a>.</p>

		<p>Happy Shipping! <br/> <img alt="Edward A. Webb" style="width:100px;" src="images/signature.png"/></p>
	</div>
</body>
</html>